[submodule "lopecode"]
	path = lopecode
	url = https://github.com/tomlarkworthy/lopecode
[submodule "lopebooks"]
	path = lopebooks
	url = https://github.com/tomlarkworthy/lopebooks
[submodule "vendor/observable-runtime"]
	path = vendor/observable-runtime
	url = https://github.com/observablehq/runtime.git
[submodule "vendor/observable-inputs"]
	path = vendor/observable-inputs
	url = https://github.com/observablehq/inputs.git
[submodule "vendor/observable-stdlib"]
	path = vendor/observable-stdlib
	url = https://github.com/observablehq/stdlib
[submodule "vendor/notebook-kit"]
	path = vendor/notebook-kit
	url = https://github.com/observablehq/notebook-kit.git
[submodule "vendor/mempalace"]
	path = vendor/mempalace
	url = https://github.com/mempalace/mempalace
[submodule "lopecode.com"]
	path = lopecode.com
	url = git@github.com:tomlarkworthy/lopecode.com.git
[submodule "vendor/contrail"]
	path = vendor/contrail
	url = https://github.com/flo-bit/contrail
[submodule "vendor/golden-layout"]
	path = vendor/golden-layout
	url = https://github.com/golden-layout/golden-layout.git
[submodule "vendor/feeling-of-computing"]
	path = vendor/feeling-of-computing
	url = https://github.com/marianoguerra/Feeling-of-Computing
[submodule "vendor/colibri-social"]
	path = vendor/colibri-social
	url = https://github.com/colibri-social/colibri.social
[submodule "vendor/foc-wiki"]
	path = vendor/foc-wiki
	url = https://github.com/feelingofcomputing/wiki
[submodule "lopecode-videos"]
	path = lopecode-videos
	url = https://github.com/tomlarkworthy/lopecode-videos
[submodule "vendor/slack-sync"]
	path = vendor/slack-sync
	url = https://github.com/tomlarkworthy/slack-sync.git
[submodule "vendor/paseo"]
	path = vendor/paseo
	url = https://github.com/getpaseo/paseo
[submodule "vendor/patchwork-base"]
	path = vendor/patchwork-base
	url = https://github.com/inkandswitch/patchwork-base
[submodule "vendor/patchwork-experiments"]
	path = vendor/patchwork-experiments
	url = https://github.com/inkandswitch/patchwork-experiments
